body {
    margin: 0;
}
main {
    display: flex;
}
blockquote {
    height: 100%;
    margin-inline-start: 0;
    margin-block: 0;
    overflow: auto;
    position: fixed;
    border-inline-end: 3px solid gray;
}
.nav header {
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-block-start: 4px;
    padding-block-end: 12px;
    flex-direction: column;
}
.nav a {
    text-decoration: none;
    color: black;
    text-decoration: none;
    color: black;
    border-block-end: 1px solid black;
    display: flex;
    align-items: center;
    padding-inline: 25px;
    width: 250px;
}
.nav {
    border: 1px solid transparent;
    height: 100%;
    justify-content: space-evenly;
    display: grid;
    grid-template-columns: auto;
    width: 100%;    
}
.wrapper-2 {
    width: 100%;
    margin-inline-start: 324px;
    padding-inline: 28px;
    padding-block: 12px;
}
@media screen and (max-width: 815px) {
    blockquote {
        max-height: 280px;
        width: 100%;
        position: absolute;
    }
    .nav header {
        padding-block-start: 0;
        padding-block-end: 0;
    }
    .nav a {
        border-block: 1px solid gray; 
        width: 100%;
        padding-block: 8px;
    } 
    .nav {
        display: inline-block;
    }
    .wrapper-2 {
        margin-inline-start: 0;
        margin-block-start: 260px;
        padding-inline: 16px;
    }

}

